/* CSS styling for the header */
nav + header {
  height: 400px;
  margin: 120px 0 2em;
  width: 100%;
  background-color: #CF9B41;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
  background-image: url("../images/asfalt-light.png");
}

/* Header styling for screen sizes larger than 1024px */
@media screen and (min-width: 1024px) {
  nav + header {
    margin: 8em 3em 0 3em;
    width: 40%;
    padding-top: 1em;
  }
}