nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
}

nav > span {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

nav div.container {
  height: 40%;
}

nav div.container button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  color: inherit;
  border: none;
}

nav div.container button:hover {
  cursor: pointer;
}

nav div.container button:hover i {
  animation-name: upDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes upDown {
  to {
    padding-top: 10px;
  }
}

.bold-me {
  font-weight: bold;
}

.fa-angles-down {
  color: red;
}