/*
* Styling for the tweet submission section
*/

.new-tweet {
  display: flex;
  flex-flow: row wrap;
}

.new-tweet > * {
  flex: 1 100%;
}

.new-tweet form {
  margin-bottom: 2em;
}

#tweet-text {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 3px solid black;
  height: 1.75em;
  font-weight: bold;
  margin-bottom: 0.5em;
  resize: none;
}

#tweet-text:focus {
  outline: none;
}

label[for="tweet-text"] {
  font-weight: bold;
}

.form-helper {
  display: flex;
  font-family: 'Bungee', cursive;
}

.form-helper .counter {
  margin-left: auto;
}

/* Style the form submission button */
.form-helper > button {
  max-width: max-content;
  background-color: #4056A1;
  color: white;
}
.form-helper > button:hover {
  cursor: pointer;
}

/* Class used to style the counter red, logic handled in jQuery */
.red {
  color: red;
}